<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Datos de planta 4</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="container">
	<table class="table table-striped">
			<thead>
				<tr>
					<!-- <th scope="col">Id</th> -->			
					<th scope="col">Fecha</th>
					<th scope="col">Causal</th>
					<th scope="col">Descripción</th>
					<th scope="col">Tiempo de parada</th>
				</tr>
			</thead>
		</table>
</div>

</body>
</html>